@import url("./reset.css");

body {
  padding: 0 1rem;
}

header {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem 0;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header > div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

header .right {
  width: 100%;
}

header .menu-content {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

header .menu-icon {
  display: none;
}

/* For Mobile */
@media screen and (max-width: 450px) {
  header .right {
    width: max-content;
  }

  header .menu-content {
    display: none;
  }

  header .menu-icon {
    display: block;
  }
}

nav {
  display: flex;
  gap: 1rem;
}
